<footer id="footer">
  <ul class="icons">
    <li><a href="{{ site.github }}" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="{{ site.linkedin }}" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
    <li><a href="{{ site.instagram }}" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="mailto:{{ site.email }}" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy;2026 {{ site.name }}</li><li>{{ site.version }}</li>
  </ul>
</footer>
