<!DOCTYPE HTML>
<html>
  <head>
    <title>{% if title %}{{ title }} - {% endif %}{{ site.name }}</title>
    {% include "head.njk" %}
  </head>
  <body class="landing is-preload" style="--banner-bg-position: {{ images.banner.position }};">
    <div id="page-wrapper">
      {% set landing = true %}
      {% include "header.njk" %}
      {{ content | safe }}
      {% include "footer.njk" %}
    </div>
    {% include "scripts.njk" %}
  </body>
</html>
